.suggestionItem {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
}
.heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600px;
}
.arrow {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
